## Listas

In [5]:
planets = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

#Acceder a las lista por índice
print('El primer planeta es ',planets[0])
print('El primer planeta es ',planets[1])
print('El primer planeta es ',planets[2])

#Modificación de vlaor por índice
planets[3] = 'Red planet'
print('Marte es tambien conocido como ', planets[3])

El primer planeta es  Mercurio
El primer planeta es  Venus
El primer planeta es  Tierra
Marte es tambien conocido como  Red planet

## Determinar la longitud de una lista

In [3]:
number_of_planets = len(planets)

print('Hay ', number_of_planets, ' planetas en el sistema solar.')

Hay  9  planetas en el sistema solar.

## Agregar valores a la lista

In [6]:
planets.append('Pluton')
number_of_planets = len(planets)
print('Actualmente hay ', number_of_planets, ' planetas en el sistema solar.')

Actualmente hay  9  planetas en el sistema solar.

## Eliminar valores de una lista

In [7]:
planets.pop() #Adios, Pluton :(
number_of_planets = len(planets)
print('No, definitivamente hay ', number_of_planets, ' planetas en el sistema solar.')

No, definitivamente hay  8  planetas en el sistema solar.

## Índices negativos

In [8]:
print("El último planeta es ",planets[-1])
print("El penultimo planeta es ", planets[-2])

El último planeta es  Neptuno
El penultimo planeta es  Urano

## Buscar un valor en una lista

In [11]:
jupiter_index = planets.index('Jupiter')
print('Jupiter is the ', jupiter_index+1, ' planeta desde el sol')

Jupiter is the  5  planeta desde el sol

## Trabajar con números en listas

In [12]:
gravity_on_planets = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

bus_weight = 12650 # in kilograms, on Earth

print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('On Mercury, a double-decker bus weighs', bus_weight * gravity_on_planets[0], 'kg')

On Earth, a double-decker bus weighs 12650 kg
On Mercury, a double-decker bus weighs 4781.7 kg

## min y max con listas

In [13]:
print('On Earth, a double-decker bus weighs', bus_weight, 'kg')
print('The lightest a bus would be in the solar system is', bus_weight * min(gravity_on_planets), 'kg')
print('The heaviest a bus would be in the solar system is', bus_weight * max(gravity_on_planets), 'kg')

On Earth, a double-decker bus weighs 12650 kg
The lightest a bus would be in the solar system is 4781.7 kg
The heaviest a bus would be in the solar system is 29854.0 kg

## Manipular datos de lista

In [15]:
#Slice list
planets_before_earth = planets[0:2]
print(planets_before_earth)

planets_after_earth = planets[3:8]
print(planets_after_earth)

['Mercurio', 'Venus']
['Red planet', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

## Uniendo listas

In [16]:
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

## Ordenando listas

In [18]:
regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

#Ordenado de forma inversa
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']
The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']